/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы+
✦ theme-light — класс светлой темы+
✦ like-icon — для svg-иконки анимированного сердца+
✦ card__like-button — для кнопки Like рядом с иконкой+
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  min-block-size: 100rem;
  max-block-size: 75rem;
  font-family: var(--font-main), "Fantasy", "Times New Roman", Times, serif;
  font-variation-settings: "wght" var(--text-weight);
  line-height: 1.3125rem;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
}

/*header header header header header */

.header {
  margin: 6.25rem auto;
  max-inline-size: 43.75rem;
  border: 0.125rem solid var(--prim-color);
  background-color: var(--sec-color);
}

.logo__link {
  display: block;
  margin-block-end: 1.25rem;
  padding-block-start: 8.5rem;

  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--logo-font-size);
  font-weight: var(--pressstart-weight);
  line-height: var(--line-hght-clamp);
  color: var(--prim-color);
}

.header__title {
  margin-block-end: 1.5625rem;
  color: var(--prim-color);
  font-size: var(--line-subt-clamp);
  font-weight: var(--pressstart-weight);
  line-height: var(--line-subt-clamp);
  text-align: center;
  text-transform: uppercase;
}
.header__theme-menu {
  margin: 0 auto 1.5625rem;
  padding-left: 1.25rem;
  inline-size: min-content;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 0.875rem;
}

.theme-menu__item {
  font-size: 0;
  line-height: 0;
}

.theme-menu__button {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.875rem;
  text-transform: uppercase;
  color: var(--prim-color);
  position: relative;
  transition: opacity 0.3s ease;
  cursor: pointer;
  font-family: var(--font-main);
}

.theme-menu__button:hover {
  animation: theme-menu-color-changer 0.3s ease 1 forwards;
}

.theme-menu__button:focus {
  outline: none;
  animation: theme-menu-color-changer 0.3s ease 1 forwards;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -4px;
  background-color: var(--prim-color);
  display: block;
  width: 100%;
  height: 0.125rem;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: "▶";
  opacity: 0.6;
  pointer-events: none;
  position: absolute;
  left: -25px;
  animation: shaking__arrow 0.5s ease-in-out infinite alternate;
}

/*cards cards cards cards cards cards cards cards */

.main {
  margin: 0 auto 6.25rem;
  max-inline-size: 43.75rem;
}

.card {
  margin: 0 auto 3.125rem auto;
  border: 0.125rem solid var(--prim-color);
  max-width: 43.75rem;
  background-color: var(--sec-color);
}

.card__title {
  font-family: var(--font-second);
  color: var(--prim-color);
  font-variation-settings: "wght" var(--title-weight);
  border-bottom: 0.125rem solid var(--prim-color);
  font-size: var(--text-font-size);
  padding: 0.3125rem 0.625rem;
}

.card__picture {
  margin: 0;
  position: relative;
}

.card__image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: right;
  aspect-ratio: 1 / 1;
}

.img__fig {
  position: absolute;
  top: 25px;
  right: 25px;
  font-weight: var(--text-weight);
  font-size: var(--button-font-size);
  color: var(--prim-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 1px 1px var(--sec-color);
}

@supports
    (-webkit-text-stroke: 0.063rem var(--sec-color)) {
  .img__fig {
    -webkit-text-stroke: 0.063rem var(--sec-color);
    text-shadow: none;
  }
}

/*filters*/

.filter-contrast {
  filter: contrast(50%);
}

.filter-sepia {
  filter: sepia(50%);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-difficult {
  filter: hue-rotate(-200deg) brightness(80%);
}

.filter-grayscale {
  filter: grayscale(0.9);
}

.filter-blur {
  filter: blur(5px);
}

.filter-invert {
  filter: invert(0.8);
}

.card__text {
  padding: 1.5625rem;
  border-block-start: 0.125rem solid var(--prim-color);
  color: var(--prim-color);
  font-family: var(--font-second), sans-serif, "Times New Roman", Times, serif;
  font-size: var(--text-font-size);
}

.card__text > p:not(:last-of-type) {
  margin-block-end: 1.6875rem;
}

/*buttons buttons buttons buttons buttons buttons */

.button__like {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-block-start: 1.5625rem;
  column-gap: 0.25rem;
  width: min-content;
}

.card__icon-button {
  border: 0.125rem solid transparent;
  inline-size: 2.6875rem;
  block-size: 2.375rem;
  cursor: pointer;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 0.125rem solid var(--prim-color);
}

.button__content {
  position: relative;
  align-items: center;
  border: 0.125rem solid var(--prim-color);
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  background-color: var(--sec-color);
}

.card__like-button {
  width: 8.125rem;
  height: 2.375rem;
}

.button__content:focus {
  outline: none;
  box-shadow: 0.125rem 0.125rem 0 0 var(--accent-color);
}

.button__content:focus-visible {
  transition: box-shadow 0.3s ease-out;
  box-shadow: 0.125rem 0.125rem 0 0 var(--prim-color);
}

.button__content:hover::after {
  left: 0;
  transition: left 0.5s ease-in-out;
}

.button__content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--prim-color);
  left: -100%;
  bottom: 0;
  transition: left 0.5s ease-in-out;
  z-index: 0;
}

.button__text {
  font-size: var(--button-font-size);
  color: var(--button-color);
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.sparks {
  opacity: 0;
}

.button-save {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.625rem;
  margin: auto;
  margin-block-start: 3.125rem;
  margin-block-end: 6.563rem;
  padding: 0.938rem 1.188rem;
}

.button-save:focus {
  outline: none;
}

.button-save:focus-visible {
  transition: box-shadow 0.3s ease-out;
  box-shadow: 0.125rem 0.125rem 0 0 var(--prim-color);
}

.floppy {
  width: 1.313rem;
  height: 1.313rem;
  color: var(--button-color);
  mix-blend-mode: difference;
  z-index: 1;
}

.footer-alike {
  display: block;
  color: transparent;
  height: 1px;
}

/*dialog dialog dialog dialog dialog dialog dialog */

.dialog[open] {
  width: 22.313rem;
  background: var(--sec-color);
  color: var(--prim-color);
  padding: 1.875rem;
  font-family: var(--font-main), "Fantasy", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: var(--button-font-size);
  line-height: 1.313rem;
  text-transform: uppercase;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
  transition: background-color 0.3s ease;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.dialog-info {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.save-icon {
  max-width: 2.438rem;
  max-height: 2.438rem;
  height: 100%;
  width: 100%;
  fill: var(--prim-color);
}

.dialog-description {
  text-transform: uppercase;
}

.dialog-button {
  background: var(--sec-color);
  border: 0.125rem solid var(--prim-color);
  width: 18.313rem;
  height: 2.375rem;
  padding: 0;
  cursor: pointer;
}

.dialog-button .button__text {
  text-transform: uppercase;
}

@media (max-width: 375px) {
  .logo__link {
    padding-block-start: 7.5rem;
  }

  .img__fig {
    top: 20px;
    right: 10px;
  }

  .button-save {
    padding: 0.9375rem 1.25rem;
    inline-size: 19.375rem;
  }

  .dialog[open] {
    padding: 1.875rem 2.5rem;
    min-inline-size: 21.3125rem;
  }

  .dialog-description {
    width: 12.375rem;
  }

  .dialog-button {
    width: 16.063rem;
  }

  .floppy {
    width: 1.75rem;
    height: 1.75rem;
  }
}
