/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте   описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
  --prim-color: var(--green-color);
  --sec-color: var(--dark-color);
  --grad-color: var(--grad-color-dark);
  --gradinet-color-main:  var(--dark-color);
  --gradinet-color-accent-light: var(--gradinet-dark-color-accent-light);
  --gradinet-color-accent-dark: var(--gradinet-dark-color-accent-dark);
  --button-color: var(--green-color);
  --text-weight: var(--text-weight-dark);
  --title-weight: var(--title-weight-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --prim-color: var(--green-color);
    --sec-color: var(--dark-color);
    --gradinet-color-main:  var(--dark-color);
    --gradinet-color-accent-light: var(--gradinet-dark-color-accent-light);
    --gradinet-color-accent-dark: var(--gradinet-dark-color-accent-dark);
    --button-color: var(--green-color);
    --text-weight: var(--text-weight-dark);
    --title-weight: var(--title-weight-dark);
  }
}

:root.theme-light {
  --prim-color: var(--dark-color);
  --sec-color: var(--light-color);
  --gradinet-color-main: #d3d3d3;
  --gradinet-color-accent-light: #e7e7e7;
  --gradinet-color-accent-dark: #1a1a1a;
  --button-color: var(--light-color);
  --text-weight: var(--text-weight-light);
  --title-weight: var(--title-weight-light);
}

@media (prefers-color-scheme: light) {
  :root {
    --prim-color: var(--dark-color);
    --sec-color: var(--light-color);
    --grad-color: var(--grad-color-light);
    --gradinet-color-main: var(--gradinet-light-color-main);
    --gradinet-color-accent-light: var(--gradinet-light-color-accent-light);
    --gradinet-color-accent-dark: var(--gradinet-light-color-accent-dark);
    --button-color: var(--light-color);
    --text-weight: var(--text-weight-light);
    --title-weight: var(--title-weight-light);
}
}