/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-second: Inter;
  --font-main: PressStart2p;
  --logo-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --main-title-font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  --line-hght-clamp: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --line-subt-clamp: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --text-weight-light: 400;
  --title-weight-light: 700;
  --text-weight-dark: 465;
  --title-weight-dark: 785;
  --text-font-size: 18px;
  --button-font-size: 14px;

  --gradinet-color-accent-light: #007f0c;
  --gradinet-color-accent-dark: #004306;
  --gradinet-color-accent-light: #e7e7e7;
  --gradinet-color-accent-dark: #1a1a1a;
  --heart-red: #ff0000;
  --green-color: #00cc14;
  --dark-color: #000000;
  --light-color: #fff;
  --gradinet-light-color-main: #d3d3d3;
  --gradinet-light-color-accent-light: #e7e7e7;
  --gradinet-light-color-accent-dark: #1a1a1a;
  --gradinet-dark-color-accent-light: #007f0c;
  --gradinet-dark-color-accent-dark: #004306;

  --background-gradient: repeating-linear-gradient(
      to right,
      var(--gradinet-color-main) 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--gradinet-color-main) 0px 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      var(--gradinet-color-accent-light),
      var(--gradinet-color-accent-light) 0.01%,
      var(--gradinet-color-accent-dark) 100%
    );
}
